$bd-activity: $red-medium-one;
$txt-activity-heading: $green-medium-one;

.activity {
  position: relative;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    border-bottom: 5px solid $bd-activity;
    width: 100%;
    height: 0;
  }

  > h2 {
    color: $txt-activity-heading;
    font-family: $lato;
    font-size: modular-scale(3);
  }
}
