$bg-header: $grey-dark-one;
$bg-header-logo: $grey-dark-two;
$txt-header-title: $green-medium-one;

header {
  background-color: $bg-header;
  padding: 40px 0;

  > .container {
    > h1 {
      color: $bg-header-logo;
      font-size: modular-scale(10);
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
    }
  }
}
