$grey-dark-one: #2C3E50;
$grey-dark-two: #34495E;

$grey-medium-one: #7F8C8D;

$white-medium-one: #ECF0F1;

$green-dark-one: #27AE60;
$green-medium-one: #2ECC71;

$red-dark-one: #C0392B;
$red-medium-one: #E74C3C;
