header {
  width: 100%;
  min-height: 100%;

  > .container {
    @include outer-container;

    > form {
      @include span-columns(12);
      @include omega;
    }
  }

  &.small {
    min-height: 0;
    
    > .container {
      > h1 {
        @include span-columns(1);
      }

      > form {
        @include span-columns(11);
      }
    }
  }
}
