$txt-default-input-focus: $green-medium-one;

input {
  &[type=search],
  &[type=text] {
    &:focus {
      color: $txt-default-input-focus;
      outline: none;

      @include placeholder {
        color: $txt-default-input-focus;
      }
    }
  }
}
