$bd-default-input-focus: $green-medium-one;
$txt-default-input-focus: $green-medium-one;

input {
  &[type=search],
  &[type=text] {
    &:focus {
      border-color: $bd-default-input-focus;
      color: $txt-default-input-focus;

      @include placeholder {
        color: $txt-default-input-focus;
      }
    }
  }
}
